@model DeploymentTool.Models.DeploymentSpecificationModel

@{
	ViewData["Title"] = "Details";
}

<h2>Project Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppPoolName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppPoolName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeploymentPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeploymentPath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>
	    <dd>
		    @Html.DisplayFor(model => model.ProjectName)
	    </dd>
	    <dt>
		    @Html.DisplayNameFor(model => model.WebsiteName)
	    </dt>
	    <dd>
		    @Html.DisplayFor(model => model.ProjectName)
	    </dd>
		<dt>
			@Html.DisplayNameFor(model => model.BranchName)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.BranchName)
		</dd>
        <dt>
            @Html.DisplayNameFor(model => model.Framework)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Framework)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
